
body {
    background-color: #336699;
    height: 400px;
    width: 600px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}



body,h1,h2,h3,h4,h5 {
    color: #cc9900;
    text-align: center;
}
	font-family: "Helvetica", sans-serif;
}

